.header {
  position: relative;

  height: 460px;
  width: 100%;

  background-image: url('../img/simple-house-01.jpg');
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: center bottom;
  background-repeat: no-repeat;

  color: white;
}

.header__content {
  position: absolute;
  top: 50%;
  bottom: 1%;
  left: 5%;
  right: 5%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  font-size: 3.5rem;
  font-weight: 400;
}

.header__description {
  font-size: 1.7rem;
  font-weight: 400;
}

.header_nav {
  align-self: flex-end;
}

.header_nav__list {
  display: flex;
  justify-content: flex-end;

  list-style: none;
}

.header_nav__item {
  padding: 0 15px;
  flex-basis: 25%;

  text-align: center;
}

.header_nav__link--active {
  border-bottom: 1px solid white;
}

.header_nav__link {
  padding-bottom: 10px;

  font-size: 1.7rem;
  text-decoration: none;
  color: white;
}

.header_nav__link:hover {
  border-bottom: 1px solid white;
}

@media (min-width: 640px) {
  .header__content {
    top: 80%;
    left: 2%;
    right: 2%;

    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .header__inner_content {
    display: flex;
    align-items: flex-start;
  }

  .header_nav {
    align-self: center;
  }
}

@media (min-width: 1024px) {
  .header__info {
    margin-left: 30px;
  }

  .header__logo {
    height: 100%;
  }
}
